<a href="https://colab.research.google.com/github/ivnizhnik/Sales_Predictions_DataScienceProject/blob/main/Sales_Predictions_DataScienceProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
Sales_Predictions_DataScienceProject='/content/sales_predictions.csv'

In [28]:
df=pd.read_csv(Sales_Predictions_DataScienceProject)
df.head(20)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15        9.300  ...  Supermarket Type1          3735.1380
1            DRC01        5.920  ...  Supermarket Type2           443.4228
2            FDN15       17.500  ...  Supermarket Type1          2097.2700
3            FDX07       19.200  ...      Grocery Store           732.3800
4            NCD19        8.930  ...  Supermarket Type1           994.7052
5            FDP36       10.395  ...  Supermarket Type2           556.6088
6            FDO10       13.650  ...  Supermarket Type1           343.5528
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
10           FDY07       11.800  ...  Supermarket Type1          1516.0266
11           FDA03       18.500  ...  Supermarket Type1          2187.1530
12           FDX32       15.100  ...  Supermarket Type1          1589.2646
13           FDS46       17.600  ...  Supermarket Type1          2145.2076
14           FDF32       16.350  ...  Supermarket Type1          1977.4260
15           FDP49        9.000  ...  Supermarket Type1          1547.3192
16           NCB42       11.800  ...  Supermarket Type2          1621.8888
17           FDP49        9.000  ...  Supermarket Type1           718.3982
18           DRI11          NaN  ...  Supermarket Type3          2303.6680
19           FDU02       13.350  ...  Supermarket Type1          2748.4224

[20 rows x 12 columns]

In [29]:
# 1) How many rows and columns? 8,523 rows and 12 columns
df.shape

(8523, 12)

In [30]:
# 2) What are the datatypes of each variable? (see below the list) There are: float64(4), int64(1), object(7)
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [32]:
# 3) Are there duplicates? If so, drop any duplicates.
# Duplicated rows: there are 0 duplicated rows in this dataset
df.duplicated().sum()

0

In [33]:
df.duplicated().any()

False

In [34]:
# 4) Identify missing values: Missing values are in columns 'Item_Weight column' & 'Outlet_Size column'

# Item_Identifier column (Unique product ID) has 0 missing values
# Item_Weight column (Weight of product) has 1463 missing values ****
# Item_Fat_Content column (Whether the product is low fat or regular) has 0 missing values
# Item_Visibility column (The percentage of total display area of all products in a store allocated to the particular product) has 0 missing values
# Item_Type column (The category to which the product belongs) has 0 missing values
# Item_MRP column (Maximum Retail Price (list price) of the product) has 0 missing values
# Outlet_Identifier column (Unique store ID) has 0 missing value
# Outlet_Establishment_Year column (The year in which store was established) has 0 missing value
# Outlet_Size column (The size of the store in terms of ground area covered) has 2410 missing values ****
# Outlet_Location_Type column (The type of area in which the store is located) has 0 missing values
# Outlet_Type column (Whether the outlet is a grocery store or some sort of supermarket) has 0 missing values
# Item_Outlet_Sales  column (	Sales of the product in the particular store. This is the target variable to be predicted.) has 0 missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [35]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [36]:
df['Item_Weight'].value_counts()

12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.560      2
9.420      1
5.400      1
6.520      1
7.685      1
Name: Item_Weight, Length: 415, dtype: int64

In [37]:
df['Item_Weight'].value_counts().max

<bound method Series.max of 12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.560      2
9.420      1
5.400      1
6.520      1
7.685      1
Name: Item_Weight, Length: 415, dtype: int64>

In [38]:
df.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

In [39]:
df.mean()

Item_Weight                    12.857645
Item_Visibility                 0.066132
Item_MRP                      140.992782
Outlet_Establishment_Year    1997.831867
Item_Outlet_Sales            2181.288914
dtype: float64

In [40]:
df.median()

Item_Weight                    12.600000
Item_Visibility                 0.053931
Item_MRP                      143.012800
Outlet_Establishment_Year    1999.000000
Item_Outlet_Sales            1794.331000
dtype: float64

In [41]:
df.round(2).mode()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDG33        12.15  ...  Supermarket Type1             958.75
1           FDW13          NaN  ...                NaN                NaN

[2 rows x 12 columns]

In [42]:
# To explore the data that has NA values: 
null_weight = pd.isnull(df['Item_Weight'])
df[null_weight]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [43]:
# Imputing missing data in the Item_Weight column with the mean, 12.86, as we have 1463 (~17%) missing values in this column with the SD 4.64 and 50% of values within the mean. 
# Confirming that there are no missing values after addressing them in Item_Weight column
df['Item_Weight'].fillna(value= 12.86, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [44]:
# To explore the data that has NA values: 
null_size = pd.isnull(df['Outlet_Size'])
df[null_size].head(40)

    Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3             FDX07       19.200  ...      Grocery Store           732.3800
8             FDH17       16.200  ...  Supermarket Type1          1076.5986
9             FDU28       19.200  ...  Supermarket Type1          4710.5350
25            NCD06       13.000  ...  Supermarket Type1           838.9080
28            FDE51        5.925  ...      Grocery Store           178.4344
30            FDV38       19.250  ...      Grocery Store           163.7868
33            FDO23       17.850  ...  Supermarket Type1          2174.5028
45            FDM39        6.420  ...      Grocery Store           358.2004
46            NCP05       19.600  ...  Supermarket Type1          2428.8384
47            FDV49       10.000  ...  Supermarket Type1          5815.0972
53            FDA43       10.895  ...  Supermarket Type1          3121.2704
54            NCP18       12.150  ...  Supermarket Type1          4815.0656
56            NCX54        9.195  ...  Supermarket Type1          2117.2440
61            FDV27        7.970  ...  Supermarket Type1          1062.6168
65            FDC46       17.700  ...      Grocery Store           184.4266
67            FDZ03       13.650  ...  Supermarket Type1          1118.5440
68            DRH37       17.600  ...  Supermarket Type1          2302.3364
72            FDH35       18.250  ...  Supermarket Type1          4604.6728
73            FDG02        7.855  ...  Supermarket Type1          2285.0256
78            FDL04       19.000  ...  Supermarket Type1          1587.9330
79            FDV25        5.905  ...  Supermarket Type1          5305.0944
85            FDG20       15.500  ...  Supermarket Type1          2479.4392
90            FDW20       20.750  ...      Grocery Store           369.5190
92            DRI25       19.600  ...  Supermarket Type1          1381.5350
100           FDT28       13.300  ...  Supermarket Type1          1805.6496
107           FDG12        6.635  ...  Supermarket Type1          2530.7058
111           FDS52        8.890  ...  Supermarket Type1          2732.4432
114           FDV11        9.100  ...  Supermarket Type1          3151.8972
116           FDZ16       16.850  ...  Supermarket Type1          4843.6950
118           DRA12       11.600  ...  Supermarket Type1          2552.6772
120           NCF19       13.000  ...  Supermarket Type1           680.4476
121           DRJ13       12.650  ...  Supermarket Type1          2085.9514
122           FDB14       20.250  ...      Grocery Store           186.4240
124           FDW11       12.600  ...  Supermarket Type1           866.8716
127           FDV38       19.250  ...  Supermarket Type1           928.1252
129           NCP30       20.500  ...  Supermarket Type1           707.0796
133           FDS52        8.890  ...      Grocery Store           101.2016
137           FDB51        6.920  ...  Supermarket Type1          1314.2892
138           FDX44        9.300  ...  Supermarket Type1           535.3032
139           NCN07       18.500  ...      Grocery Store           263.6568

[40 rows x 12 columns]

In [45]:
# There is no clear pattern between tier 3, tier 2, grocery store, supermarket type 1, and outlet size. It is reasonable to impute missing data in the Item_size column with mode
df.head(40)

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15        9.300  ...  Supermarket Type1          3735.1380
1            DRC01        5.920  ...  Supermarket Type2           443.4228
2            FDN15       17.500  ...  Supermarket Type1          2097.2700
3            FDX07       19.200  ...      Grocery Store           732.3800
4            NCD19        8.930  ...  Supermarket Type1           994.7052
5            FDP36       10.395  ...  Supermarket Type2           556.6088
6            FDO10       13.650  ...  Supermarket Type1           343.5528
7            FDP10       12.860  ...  Supermarket Type3          4022.7636
8            FDH17       16.200  ...  Supermarket Type1          1076.5986
9            FDU28       19.200  ...  Supermarket Type1          4710.5350
10           FDY07       11.800  ...  Supermarket Type1          1516.0266
11           FDA03       18.500  ...  Supermarket Type1          2187.1530
12           FDX32       15.100  ...  Supermarket Type1          1589.2646
13           FDS46       17.600  ...  Supermarket Type1          2145.2076
14           FDF32       16.350  ...  Supermarket Type1          1977.4260
15           FDP49        9.000  ...  Supermarket Type1          1547.3192
16           NCB42       11.800  ...  Supermarket Type2          1621.8888
17           FDP49        9.000  ...  Supermarket Type1           718.3982
18           DRI11       12.860  ...  Supermarket Type3          2303.6680
19           FDU02       13.350  ...  Supermarket Type1          2748.4224
20           FDN22       18.850  ...  Supermarket Type1          3775.0860
21           FDW12       12.860  ...  Supermarket Type3          4064.0432
22           NCB30       14.600  ...  Supermarket Type1          1587.2672
23           FDC37       12.860  ...      Grocery Store           214.3876
24           FDR28       13.850  ...  Supermarket Type1          4078.0250
25           NCD06       13.000  ...  Supermarket Type1           838.9080
26           FDV10        7.645  ...  Supermarket Type1          1065.2800
27           DRJ59       11.650  ...  Supermarket Type1           308.9312
28           FDE51        5.925  ...      Grocery Store           178.4344
29           FDC14       12.860  ...      Grocery Store           125.8362
30           FDV38       19.250  ...      Grocery Store           163.7868
31           NCS17       18.600  ...  Supermarket Type2          2741.7644
32           FDP33       18.700  ...  Supermarket Type2          3068.0064
33           FDO23       17.850  ...  Supermarket Type1          2174.5028
34           DRH01       17.500  ...  Supermarket Type1          2085.2856
35           NCX29       10.000  ...  Supermarket Type1          3791.0652
36           FDV20       12.860  ...  Supermarket Type3          2797.6916
37           DRZ11        8.850  ...  Supermarket Type2          1609.9044
38           FDX10       12.860  ...  Supermarket Type3           388.1614
39           FDB34       12.860  ...  Supermarket Type3          2180.4950

[40 rows x 12 columns]

In [46]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [47]:
df['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [48]:
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [49]:
df['Outlet_Size'].fillna(value= 'Medium', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [50]:
# 7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent) 
# Checking for inconsistencies & fixing

In [51]:
df['Item_Identifier'].value_counts().head(20)

FDW13    10
FDG33    10
FDF52     9
FDF56     9
FDD38     9
NCF42     9
NCL31     9
NCI54     9
FDX31     9
NCB18     9
NCJ30     9
FDG09     9
FDX20     9
FDX04     9
FDW49     9
FDU12     9
FDW26     9
FDQ40     9
FDO19     9
DRE49     9
Name: Item_Identifier, dtype: int64

In [52]:
df['Item_Weight'].value_counts().head(20)

12.86    1463
12.15      86
17.60      82
13.65      77
11.80      76
15.10      68
9.30       68
10.50      66
16.70      66
19.35      63
20.70      62
16.00      62
9.80       61
17.75      60
17.70      60
18.85      59
15.00      59
15.85      59
16.75      58
18.25      58
Name: Item_Weight, dtype: int64

In [53]:
# Some inconsistencies 
df['Item_Fat_Content'].value_counts().head()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [54]:
# We see that there is "LF" & "low fat" that should be "Low Fat". Also, 'reg' that should be "Regular".
df.loc[df['Item_Fat_Content'] == 'LF', 'Item_Fat_Content'] = 'Low Fat'
df.loc[df['Item_Fat_Content'] == 'low fat', 'Item_Fat_Content'] = 'Low Fat'
df['Item_Fat_Content'].value_counts().head()

Low Fat    5517
Regular    2889
reg         117
Name: Item_Fat_Content, dtype: int64

In [55]:
df.loc[df['Item_Fat_Content'] == 'reg', 'Item_Fat_Content'] = 'Regular'
df['Item_Fat_Content'].value_counts().head()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [56]:
df['Item_Visibility'].value_counts().head(20)

0.000000    526
0.076975      3
0.041283      2
0.085622      2
0.187841      2
0.134976      2
0.107224      2
0.085275      2
0.076856      2
0.059836      2
0.112203      2
0.044024      2
0.072253      2
0.061271      2
0.061164      2
0.145266      2
0.081097      2
0.071958      2
0.103442      2
0.074613      2
Name: Item_Visibility, dtype: int64

In [57]:
df['Item_Type'].value_counts().head()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Name: Item_Type, dtype: int64

In [58]:
df['Item_MRP'].value_counts().head()

172.0422    7
188.1872    6
170.5422    6
109.5228    6
196.5084    6
Name: Item_MRP, dtype: int64

In [59]:
df['Outlet_Identifier'].value_counts().head(20)

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [60]:
df['Outlet_Establishment_Year'].value_counts().head()

1985    1463
1987     932
1999     930
1997     930
2004     930
Name: Outlet_Establishment_Year, dtype: int64

In [61]:
df['Outlet_Size'].value_counts().head()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [62]:
df['Outlet_Location_Type'].value_counts().head()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [63]:
df['Outlet_Type'].value_counts().head()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [64]:
df['Item_Outlet_Sales'].value_counts().head()

958.7520     17
1342.2528    16
1845.5976    15
703.0848     15
1278.3360    14
Name: Item_Outlet_Sales, dtype: int64

In [65]:
# 8) For any numerical columns, obtain the summary statistics of each (min, max, mean): Item_Weight, Item_Visibility, Item_MRP, Outlet_Establishment_Year, Item_Outlet_Sales

In [66]:
df.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  8523.000000  ...        8523.000000
mean     12.858049  ...        2181.288914
std       4.226124  ...        1706.499616
min       4.555000  ...          33.290000
25%       9.310000  ...         834.247400
50%      12.860000  ...        1794.331000
75%      16.000000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]